body{
    margin: 0;
    padding: 0;
    background-color: #F3E4E1;
}

.products__wrapper {
    
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}


h2, h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

/* HEADER SECTION */

header, footer{
    position: relative;
    align-self: center;
    max-width: 100%;
    width: fit-content;
}

header img{
    max-width: 100%; 
    height: auto; 
}

footer img{
    max-width: 100%; 
    height: auto; 
}

.menu-hamburger {
    z-index: 2;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    border-style: none;
    border-radius: 50%;
    background: #FFFFFF;
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
}

.menu-hamburger--open {
    background-image: url('Assets/close.svg');
}

.menu-hamburger--closed {
    background-image: url('Assets/navicon.svg');
}

.menu {
    position: fixed;
    top: 0;
    background: #2F2926;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.menu--hidden {
    display: none;
}

.menu__list {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}


.menu-hamburger--open{
    background-image: url('Assets/close.svg');
}

.menu-hamburger--closed{
    background-image: url('Assets/navicon.svg');
}

.menu__choice {
    list-style: none;
    font-weight: 700;
    font-family: "PT Serif", serif;
    font-size: 2rem;
    line-height: 120%;

}

.menu__choice::before {
    content: '';
    display: block;
    width: 5rem;
    height: 2px;
    border-radius: 1px;
    margin: 10px auto;
    background: #FFFFFF;
    opacity: 20%;

}

.menu__choice:first-child::before {
    display: none;
}

.menu__link {
    color: #FFFFFF;
    text-decoration: none;
}

/* PRODUCTS SECTION */


.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    
}

.products__title {
    font-size: 42px;
    margin-bottom: 2rem;
    padding: 0;
}

.products__list {
    list-style: none;
    padding: 0;
    margin: 0;
    
    
}

.products__item {
    display: flex;
    
    align-items: center;
    margin-bottom: 2rem;
}

.products__image {
    max-width: 1rem;
    height: 100%;
    background-color: black;
    border-radius: 100%;
    padding: 0.5rem;
}

.products__coffee-info {
    margin-left: 1rem;
    display: flex;
    flex-direction: column; 
}

.products__title-price{
    display: flex;
    width: auto; 
    min-width: 250px; /* Increase value if coffee titles gets to long */
    
    
}

.products__coffee-title {
    margin-top: 0;
    
    white-space: nowrap;
}

.products__dotted-line{
    
    border-bottom: 1.5px dotted;
    border-color: rgba(0, 0, 0, 0.3);
    flex-grow: 1;
}



.products__price {
    margin: 0;
    margin-left: auto;
    padding-left: 5px;
}

.products__coffee-description {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
   
}


