/* BASE */

:root {
  --color-dark: #000000;
  --dark-brown: #2F2926;
  --red-color: #E5674E;
  --color-white: #ffffff;
  --pink-background-color: #F3E4E1;
  --color-green: #0E927D;
  --color-dark-green: #1A4143;
  --dark-green-color: #38846D;
  --color-light-green: #D9D9D9;
  --font-family1: 'PT Serif', serif;
  --font-family2: 'Work Sans', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    max-width: 1200px;
    height: 100vh;
}


/*Layzy Loader*/
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f9fb;
  transition: opacity 0.75s, visibility 0.75s; /* rättstavning av visibility */
}

.loader-hidden { /* ändrat klassnamnet från loader-hidder till loader-hidden */
  opacity: 0;
  visibility: hidden;
}

.loader::after { /* ta bort mellanslaget efter .loader */
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top: 15px solid var(--color-dark-green); /* ändrat från var(--color-dark-green) till en fast färg */
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  fram {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}



/* BACKGROUND IMAGE */
.background-image {
    width: 100%;
    height: 100%;
}

/* CONTENT WRAPPER */
.content-wrapper {
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* FORM SECTION */
.body__section {
    background-color: rgba(53, 79, 82, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    max-width: 400px;
    width: 70%;
    box-sizing: border-box;
    position: relative;
    margin-top: -625px;
    display: none;
}

/* ACTIVE FORM SECTION */
.body__section.active {
    display: block;
}

/* LABELS */
label {
    display: block;
    margin: 10px 0;
    color: #ffffff;
}

/* INPUT FIELDS */
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.1);
}

/* SUBMIT BUTTON */
input[type="submit"] {
    background-color: #38846d;
    color: #ffffff;
    cursor: pointer;
    border: none;
}

/* TOGGLE BUTTON */
.toggle-btn {
    background-color: #2f2926;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

/* HOVER EFFECT FOR TOGGLE BUTTON */
.toggle-btn:hover {
    background-color: #ffffff;
    color: #2f2926;
}

/* LOGIN MESSAGE */
.login-message {
    color: var(--color-white);
    background-color: var(--color-dark);
    padding: 1rem;
    font-family: var(--font-family1);
    font-size: 30px;
    align-items: center;
}

/*STATUS PAGE*/

.status {

    width: 100%;
    height: 100%;
    background-color: var(--red-color);
    color: var(--color-white);
    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;
    font-family: var(--font-family1);
    text-transform: none;
}

.status p {
    width: 279px;
    height: 37px;
    margin-top: 62px;
    font-family: var(--font-family2);
    font-size: 16px;
    text-align: center;
    letter-spacing: 2px;
    color: var(--color-light-green);
}

.status p strong {
    letter-spacing: -0.1px;
}

.status section {
    margin-top: 40px;
    width: 216.29px;
    height: 119.06px;
}

.status h1 {
    width: 279px;
    height: 100px;
    margin-top: 62px;
    font-size: var(--font-family1);
    font-size: 36px;
    font-weight: 600;
    text-align: center;

}

.status #estimatedTime {
    width: 279px;
    height: 37px;
    margin-top: 20px;
    font-family: var(--font-family2);
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    color: var(--color-white);
    letter-spacing: 1.3px;
}

.status #estimatedTime strong {
    font-size: 21px;
    font-weight: 800;
    letter-spacing: -2.5px;
}

.status button {
    width: 184px;
    height: 55px;
    margin-top: 62px;
    border: none;
    border-radius: 50px;
    background-color: var(--color-white);
    font-family: var(--font-family1);
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    text-align: center;
    letter-spacing: 0.2px;
}

/* <-----------ABOUT PAGE START----------> */

.wrapper-about {
  background-color: var(--pink-background-color);
  max-width: 100%;
}

.about-footer,
.about-header {
  width: 100%;
  height: auto;
}

.about__main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__info-text {
  padding: 25px;
  font-size: 14px;

}

.about__info-text p {
  padding: 15px;
  font-family: var(--font-family2);
}

.vd-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 4rem;
}

.vd-container img {
  border-radius: 50%;
}

.vd-container p {
  font-size: 14px;
}

.vd-container h2 {
  font-family: 'PT serif';
}

/* <-----------ABOUT PAGE End------------> */

