*{
    margin:0;
    padding:0;
}
.bg-color{
    background: #38846D;
}
.bg-images{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:100vh;
}
.bg-images__leaves{
    height:100vh;
}