@import url("../root.css");


.wrapper-about {
    background-color: var(--pink-background-color);
    max-width: 100%;
    min-height:100vh;
  }
  
  
  .about__main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .about__info-text {
    padding: 25px;
    font-size: 14px;
  
  }
  
  .about__info-text p {
    padding: 15px;
    font-family: var(--font-family2);
  }
  
  .vd-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
  }
  
  .vd-container img {
    border-radius: 50%;
  }
  
  .vd-container p {
    font-size: 14px;
  }
  
  .vd-container h2 {
    font-family: 'PT serif';
  }

  @media screen and (min-width: 768px) {
    .about__main-container {
      width: 90%;
      margin: auto;
      padding: 3rem;
    }
  
    .about__info-text {
      font-size: 25px; /* Increase font size for better readability */
      text-align: center; /* Center-align text for better presentation */
    }
  
    p {
      font-size: 25px; /* Increase font size for better readability */
      text-align: center; /* Center-align text for better presentation */
    }
  
    h2 {
      font-size: 30px;
      text-align: center; /* Center-align heading for better presentation */
    }
  
    .vd-container img {
      border-radius: 20%;
      width: 200px;
      height: 200px;
    }
  
    .vd-container p {
      font-size: 20px;
    }
  }
  
  