@import url("../root.css");

body{
    background-color: var(--pink-background-color);
}

.dashboard__wrapper{
    display:flex;
    flex-direction: column;
    min-height:100vh;
    justify-content: space-between;
}

.dashboard__info{
    display: flex;
    flex-direction:column;
    align-items: center;
}

.dashboard__subtitle,
.dashboard__title{
    font-family: var(--font-family1);
    text-align: center;

    padding: 0;
}
.dashboard__title{
    font-size: 3rem;
    margin-bottom: 1rem;

}

.dashboard__link{
    display:flex;
    flex-direction:column;
    text-decoration: none;
    color:inherit;
    background:var(--color-white);
    padding:1rem 1rem 0 1rem;
    border-radius:25px;

}
.dashboard__subtitle{
    font-weight:500;
    font-size: 1.5rem;
}
.dashboard__subtitle:last-child{
    font-weight:700;
    margin-bottom:2rem;
}
.dashboard__profile-img{
    border-radius:50%;
    
    margin:1rem auto;
}
.navigation{
    text-align:center;
}
.navigation__item {
    list-style: none;
    font-weight: 700;
    font-family: "PT Serif", serif;
    font-size: 2rem;
    line-height: 200%;


}

.navigation__item::before {
    content: '';
    display: block;
    width: 5rem;
    height: 2px;
    border-radius: 1px;
    margin: 10px auto;
    background: var(--color-dark);
    opacity: 20%;

}

.navigation__item:first-child::before {
    display: none;
}

.navigation__link{
    text-decoration: none;
    color:var(--color-dark-green);
}

/* DASHBOARD DETAILS */


.dashboard-details__wrapper{
    background: var(--dark-brown);
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
}
.dashboard-details__info{
    display: flex;
    flex-direction:column;
    align-items: center;
}

.dashboard-details__subtitle,
.dashboard-details__title{
    font-family: var(--font-family1);
    text-align: center;
    color:var(--color-white);

    padding: 0;
}
.dashboard-details__title{
    font-size: 3rem;
    margin-bottom: 3rem;

}
.dashboard-details__item-list{

    margin:0 1rem;
}

.dashboard-details__item{
    color: var(--color-white);
    border: solid 2px var(--color-white);
    border-radius:5px;
    gap:.5rem;
    margin:.5rem;
    padding:1rem;
    text-align: center;
    list-style: none;
    padding-top:1rem;
}
.item__button-for-open{
    position:relative;
    top:2vh;
    width: 50vw;
    height:10vw;;
    border-style:none;
    background:transparent;
    color:var(--red-color);
    font-weight:700;
    border: 2px solid var(--red-color);
    border-radius:10px;
}
.item__detailed-information{
    display:flex;
    flex-direction: column;
    gap:.5rem;
    align-items: center;
    margin:.5rem;
    padding:1rem;
}
.item__detailed-information--hidden{
    height:0;
    pointer-events: none;
    opacity:0;
    overflow:hidden;
}
.item__title{
    font-size:2.2rem;
}


.item__button-for-edit{
    width: 4rem;
    height:3.5rem;
    margin:auto;
    border-style:none;
    background:transparent;
    color:var(--red-color);
    font-weight:700;
    border: 2px solid var(--red-color);
    border-radius:10px;

    grid-area: a;
}
.item__price-header{
    margin:auto;
    grid-area: b;

}
.item__price{
    margin:auto;
    width:100%;
    height:100%;
    font-size:2rem;
    text-align: center;
    grid-area: c;
}
.item__description-header,
.item__longer-description-header{
    font-size:1.2rem;
}
.item__description,
.item__longer-description{
    margin:.2rem;
    padding:.5rem;
    border-radius:5px;
    font-size:1.1rem;
    background:rgb(0,0,0,.3);
}
.dashboard-details__editor{
    grid-column: span 2;
    display:flex;
    flex-direction: column;
    max-width:600px;
    margin:auto;
}