@import url("../root.css");

body{
    background-color: var(--pink-background-color);
}

.dashboard__wrapper{
    display:flex;
    flex-direction: column;
    min-height:100vh;
    justify-content: space-between;
    transition:all .2s;
}
.dashboard__wrapper--inactive{
    pointer-events:none;
    position:fixed;
}
.dashboard__info{
    display: flex;
    flex-direction:column;
    align-items: center;
}

.dashboard__subtitle,
.dashboard__title{
    font-family: var(--font-family1);
    text-align: center;

    padding: 0;
}
.dashboard__title{
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
}


.dashboard__link{
    display:flex;
    flex-direction:column;
    text-decoration: none;
    color:inherit;
    background:var(--color-white);
    padding:1rem 1rem 0 1rem;
    border-radius:25px;

}
.dashboard-details__subtitle,
.dashboard__subtitle{
    font-weight:500;
    font-size: 1.5rem;
}
.dashboard__subtitle:last-child{
    font-weight:700;
    margin-bottom:2rem;
}
.dashboard__profile-img{
    border-radius:50%;
    
    margin:1rem auto;
}
.navigation{
    text-align:center;
}
.navigation__item {
    list-style: none;
    font-weight: 700;
    font-family: "PT Serif", serif;
    font-size: 2rem;
    line-height: 200%;


}

.navigation__item::before {
    content: '';
    display: block;
    width: 5rem;
    height: 2px;
    border-radius: 1px;
    margin: 10px auto;
    background: var(--color-dark);
    opacity: 20%;

}

.navigation__item:first-child::before {
    display: none;
}

.navigation__link{
    text-decoration: none;
    color:var(--color-dark-green);
}

/* DASHBOARD DETAILS */
.dashboard-details__main-wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.dashboard-details__add-new-product{

    width:80vw;

    border:none;
    background:var(--color-green);
    color:var(--color-white);
    padding:1.5rem 1rem;
    border-radius:5px;
    font-size:1.5rem;
}
.dashboard-details__title{
    font-size: 3rem;
    margin-bottom: 5rem;
    text-align:center;
}

.dashboard-details__item-list{

    margin:0 1rem;
}

.dashboard-details__item{
    color: var(--color-dark-green);
    border: solid 2px var(--color-dark-green);
    border-radius:5px;
    gap:.5rem;
    margin:.5rem;
    padding:1rem;
    text-align: center;
    list-style: none;
    padding-top:1rem;
}
.item__button-for-open{
    position:relative;
    top:2vh;
    width: 50vw;
    height:2rem;
    border-style:none;
    background:transparent;
    color:var(--color-dark);
    font-weight:bold;
    border: 2px solid var(--red-color);
    border-radius:10px;
}
.item__detailed-information{
    display:flex;
    flex-direction: column;
    gap:.5rem;
    align-items: center;
    margin:.5rem;
    padding:1rem;
}
.item__detailed-information--hidden{
    height:0;
    pointer-events: none;
    opacity:0;
    overflow:hidden;
}




.item__title{
    font-size:2.2rem;
    text-decoration: underline;
}
.item__price-header{
    font-weight:500;
    font-size:2rem;
}
.item__price{
    font-size:2rem;
}
.item__button-for-edit{
    width: 50vw;
    height:2rem;
    margin:auto;
    border-style:none;
    background:transparent;
    background:var(--red-color);
    color:var(--color-white);
    font-weight:700;
    border: 2px solid var(--red-color);
    border-radius:10px;

}
.item__description-header,
.item__longer-description-header{
    font-size:1.2rem;
}
.item__description,
.item__longer-description{
    margin:.2rem;
    padding:.5rem;
    border-radius:5px;
    font-size:1.1rem;
    background:rgb(255,255,255,.5);
}

.popover-dialog{
    position:fixed;
    display:grid;
    top:0;
    width:100vw;
    height:100vh;
    background:rgb(0,0,0,.2);
    backdrop-filter: blur(5px);
    transition:all .2s;

}
.popover-dialog--hidden{
    pointer-events: none;
    opacity:0;
}
.dashboard-details__edit-box{
    place-self:center;
    width:90vw;
    margin:auto;
    padding:1rem;
    border-radius:5px;
    border-color:transparent;
}
.dashboard-details__editor{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.dashboard-details__editor > *{
    width:100%;
}
.dashboard-details__editor > .form-label{
    font-size:1.5rem;
    margin-top:1.5rem;
}
.dashboard-details__editor > .form-input,
.dashboard-details__editor > textarea{
    font-size:1.2rem;
    padding:.5rem .5rem;
    border:none;
    border-bottom:solid 1px var(--color-dark-green);
    background:rgb(0,0,0,.05);
    border-radius: 5px;
}
.popover-dialog__button{
    padding:.5rem .5rem;
    margin:1rem 0;
    font-size:1.2rem;

    border-style:none;
    background:transparent;
    background:var(--red-color);
    color:var(--color-white);
    font-weight:700;
    border-radius:10px;

}
.popover-dialog__button--red{
    background:var(--red-color);
    color:var(--color-white);
}
.popover-dialog__button--green{
    background:var(--color-green);
    color:var(--color-white);
}
.popover-dialog__button--danger{
    margin-top:1rem;
    height:3rem;
    width:100%;
}