@import url("../root.css");

body {
    background: #38846D;
}


.indexHeader {
    margin: auto;
    padding: 2rem;
    background-color: rgb(247,247,247);
    
}

.bg-images {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.bg-images__leaves {
    height: 100%;
    position: absolute;
    top: 0;
}

.bg-images__leaves--right {
    right: 0;
}

.bg-images__leaves--left {
    left: 0;
}

.company-logo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}

.indexSectionImg {
    position: absolute;
    right: 10rem; /* Flytta elementet till höger kant av dess förälderelement */
    top: 0; /* Behåll elementet på toppen av dess förälderelement */
    width: 60px;
    height: 60px;
    z-index: auto;
    background-color: #38846D;
    color: #38846D;
}
