@import url("../root.css");

/* BACKGROUND IMAGE */
body {
  background: var(--dark-green-color);
  width: 100%;
  box-sizing: border-box;
}

.background-image {
  background-image: url(../../Assets/landing.svg);
  width: 100%;
  height: 100vh;
  background-size: cover;

  background-repeat: no-repeat;
}

/* CONTENT WRAPPER */
.content-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* FORM SECTION */
.body__section {
  background-color: rgba(53, 79, 82, 0.8);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

/* ACTIVE FORM SECTION */
.body__section.active {
  display: block;
  width: 80%;
}

.gdpr-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gdpr-container p {
  font-weight: 400;
  color: white;
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

.checkbox-input {
  margin: 0;
}



/* LABELS */
label {
  display: block;
  margin: 10px 0;
  color: #ffffff;
}

/* INPUT FIELDS */
input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
}

/* SUBMIT BUTTON */
input[type="submit"] {
  background-color: #38846d;
  color: #ffffff;
  cursor: pointer;
  border: none;
}



/* TOGGLE BUTTON */
.toggle-btn {
  background-color: #2f2926;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

/* HOVER EFFECT FOR TOGGLE BUTTON */
.toggle-btn:hover {
  background-color: #ffffff;
  color: #2f2926;
}

/* LOGIN MESSAGE */
.login-message {
  color: var(--color-white);
  background-color: var(--color-dark);
  padding: 1rem;
  font-family: var(--font-family1);
  font-size: 14px;
  text-align: center;
}



@media only screen and (min-width: 768px) {
  .content-wrapper {
    padding: 0 20px; /* Add padding to the content wrapper for better spacing */
  }
  .body__section.active {
    width: 50%;
  }
  .login-message {
    font-size: 25px; /* Increase font size for login messages for better readability on larger screens */
  }


}