@import url("../root.css");


.profilePage {
    background-color: var(--dark-brown);
  }
  
  .profile__changeImg,
  .profile__changePassword {
    text-decoration: none;
    color: var(--red-color);
    font-weight: 700;
    padding: 10px;
  }
  
  .profile__changePassword:hover {
    color: var(--color-green);
  }
  
  .profile__changeImg:hover {
    color: var(--color-green);
  }
  
  .wrapper-profile {
    max-width: 100%;
    color: var(--color-white);
    font-family: var(--font-family1);
  }
  
  
  
  .profile-header {
    width: 100%;
    height: auto;
  }
  
  .profile__user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .profileImg {
    padding: 10px;
  }
  
  .profile__heading {
    padding: 5px;
    font-size: 24px;
  }
  
  .profile__OrderHistory {
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 10px;
  }
  
  .profile__heading {
    display: flex;
    justify-content: left;
  }
  
  .idAndDate {
    display: flex;
    justify-content: space-between;
    padding: 0px 15px 0px 15px;
    font-size: 14px;
    opacity: 0.5;
    margin-top: 10px;
  }
  
  .totalAndPrice {
    display: flex;
    justify-content: space-between;
    padding: 0px 15px 0px 15px;
    font-size: 14px;
    opacity: 0.5;
  }
  
  .orderTotal {
    display: flex;
    justify-content: space-between;
    padding: 0px 15px 0px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  hr {
    width: 90%;
    margin: auto;
  }