@import url("../root.css");

.status {

    padding: 2rem;
    width: 100%;
    height: 100%;
    background-color: var(--red-color);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
  
    align-items: center;
    text-align: center;
    font-family: var(--font-family1);
    text-transform: none;
  }
  
  .status p {
    width: 279px;
    height: 37px;
    margin-top: 62px;
    font-family: var(--font-family2);
    font-size: 16px;
    text-align: center;
    letter-spacing: 2px;
    color: var(--color-light-green);
  }
  
  .status p strong {
    letter-spacing: -0.1px;
  }
  
  .status section {
    margin-top: 40px;
    width: 216.29px;
    height: 119.06px;
  }
  
  .status h1 {
    width: 279px;
    height: 100px;
    margin-top: 62px;
    font-size: var(--font-family1);
    font-size: 36px;
    font-weight: 600;
    text-align: center;
  
  }
  
  .status #estimatedTime {
    width: 279px;
    height: 37px;
    font-family: var(--font-family2);
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    color: var(--color-white);
    letter-spacing: 1.3px;
  }
  
  .estimatedTime {
    margin: auto;
    font-size: 30px;
    font-weight: 800;

    padding: 1rem;
    
  }
  
  .status button {
    margin: auto;
    width: 184px;
    height: 55px;
    border: none;
    border-radius: 50px;
    background-color: var(--color-white);
    font-family: var(--font-family1);
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    text-align: center;
    align-items: center;
    letter-spacing: 0.2px;
  }

  .droneImg  {
    margin: auto;

  }
  .deliveyMsg {
 margin: auto;
  }

 

