

.menu {
    position: absolute;
    top: 0;
    background: var(--dark-brown);
    width: 100vw;
    height: 100vh;
    z-index: 3;
}

.menu--hidden {
    display: none;
}

.menu__list {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.menu-hamburger {
    z-index: 4;
    position: fixed;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    border-style: none;
    border-radius: 50%;
    background: var(--color-white);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
}

.menu-hamburger--open {
    background-image: url('../../Assets/close.svg');
}

.menu-hamburger--closed {
    background-image: url('../../Assets/navicon.svg');
}

.menu__choice {
    list-style: none;
    font-weight: 700;
    font-family: "PT Serif", serif;
    font-size: 2rem;
    line-height: 120%;

}

.menu__choice::before {
    content: '';
    display: block;
    width: 5rem;
    height: 2px;
    border-radius: 1px;
    margin: 10px auto;
    background: #FFFFFF;
    opacity: 20%;

}

.menu__choice:first-child::before {
    display: none;
}

.menu__link {
    color: #FFFFFF;
    text-decoration: none;
}